footer.footer
  div.row
    div.col.d-flex
      h4 INFORMATION
      a(href="") About us
      a(href="") Contact Us
      a(href="") Term & Conditions
      a(href="") Shipping Guide
    div.col.d-flex
      h4 USEFUL LINK
      a(href="") Online Store
      a(href="") Customer Services
      a(href="") Promotion
      a(href="") Top Brands
    div.col.d-flex
      span
        i.bx.bxl-facebook-square
      span
        i.bx.bxl-instagram-alt
      span
        i.bx.bxl-github
      span
        i.bx.bxl-twitter
      span
        i.bx.bxl-pinterest
