extends base

block content
	div.hero
		div.glide#glide_1
			div.glide__track(data-glide-el="track")
				ul.glide__slides
					li.glide__slide
						div.center
							div.left
								span Fresh and organic
								h1 Your Daily need Product
								p Supports local farmer Business
								a.hero-btn(href="#") BUY NOW
							div.right
								img.img1(src="./images/veve.png", alt="")
					li.glide__slide
						div.center
							div.left
								span Limited Offer
								h1 Special offer Upto 55% Off
								p Supports local farmer Business
								a.hero-btn(href="#") SHOP NOW
							div.right
								img.img2(src="./images/veve2.png", alt="")

	section.promo-sec
		div.card-deals
			div.deals-con
				h6 Fresh Fruits
				h2 Healthy
					br
					| Foods
				p Get 20% off Selected Product
				button ORDER NOW
			img(src="./images//product//product33.png", alt="orange")
		div.card-deals
			div.deals-con
				h6 Fresh From the Farm
				h2 Fresh
					br
					| Vegtables
				p Get 20% off Selected Product
				button ORDER NOW
			img(src="./images//product//product22.png", alt="carrot")

	section.section.new-arrival
		div.title
			h1 NEW ARRIVALS
			p Picked Fresh from the Farm to our store

		div.product-center
			div.product-item
				div.overlay
					a(href="/product/cauliflower", class="product-thumb")
						img(src="./images/vegtables/cauliflower.png", alt="")
				div.product-info
					span Cauliflower
					a(href="/product/Cauliflower") Freshly Harvested Cauliflower
					h4 ₱1000
				ul.icons
					li
						i(class="bx bx-heart")
					li
						i(class="bx bx-search")
					li
						i(class="bx bx-cart")

			div.product-item
				div.overlay
					a(href=`/product/kale`, class="product-thumb")
						img(src="./images/vegtables/kale.png", alt="")
				div.product-info
					span Kale
					a(href="/product/kale") Freshly Harvested Kale
					h4 ₱1000
				ul.icons
					li
						i(class="bx bx-heart")
					li
						i(class="bx bx-search")
					li
						i(class="bx bx-cart")

	section.section.banner
		div.left
			span.trend 100% ORGANIC
			h1 Your Daily Need Products
			p
				| New Arrival
				span.color Sale 50% OFF
				|  Limited Time Offer
			a(href="#", class="btn btn-1") Discover Now

		div.right
			img(src="./images/product/onion2.png", alt="")


	section.section.new-arrival
		div.title
			h1 Featured
			p All the latest picked Goods by our Farmers

		div.product-center
			div.product-item
				div.overlay
					a(href="", class="product-thumb")
						img(src="./images/vegtables//Brocoli.png", alt="")
					span.discount 50%
				div.product-info
					span Brocoli
					a(href="") Freshly Harvested Brocoli
					h4 ₱1000
				ul.icons
					li
						i.bx.bx-heart
					li
						i.bx.bx-search
					li
						i.bx.bx-cart

			div.product-item
				div.overlay
					a(href="", class="product-thumb")
						img(src="./images/vegtables/eggplant.png", alt="")
					span.discount 50%
				div.product-info
					span Eggplant
					a(href="") Freshly Harvested Eggplant
					h4 ₱1000
				ul.icons
					li
						i.bx.bx-heart
					li
						i.bx.bx-search
					li
						i.bx.bx-cart

			div.product-item
				div.overlay
					a(href="", class="product-thumb")
						img(src="./images//product/onion2.png", alt="")
					span.discount 50%
				div.product-info
					span Onion
					a(href="") Freshly Harvested Onion
					h4 ₱1000
				ul.icons
					li
						i.bx.bx-heart
					li
						i.bx.bx-search
					li
						i.bx.bx-cart


