extends base

block content 
	section.section.new-arrival
	div.title
		h1 NEW ARRIVALS
		p Picked Fresh from the Farm to our store

	div.product-center
		div.product-item
			div.overlay
				a(href="", class="product-thumb")
					img(src="./images/vegtables/cauliflower-removebg-preview.png", alt="")
			div.product-info
				span Cauliflower
				a(href="") Freshly Harvested Cauliflower
				h4 ₱1000
			ul.icons
				li
					i(class="bx bx-heart")
				li
					i(class="bx bx-search")
				li
					i(class="bx bx-cart")

		div.product-item
			div.overlay
				a(href="", class="product-thumb")
					img(src="./images/vegtables/kale-removebg-preview.png", alt="")
			div.product-info
				span Kale
				a(href="") Freshly Harvested Kale
				h4 ₱1000
			ul.icons
				li
					i(class="bx bx-heart")
				li
					i(class="bx bx-search")
				li
					i(class="bx bx-cart")

		// Continue adding the remaining product items in a similar manner
		// ...

